<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>net.semicolonsnet.sourcesanshandout</string>
	<key>CFBundleName</key>
	<string>Source Sans Handout</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>IATemplateDocumentFile</key>
	<string>document</string>
	<key>IATemplateFooterHeight</key>
	<integer>72</integer>
	<key>IATemplateHeaderHeight</key>
	<integer>72</integer>
	<key>IATemplateDescription</key>
	<string>A crisp and clean sans-serif layout. Based on Palatino base theme.</string>
	<key>IATemplateAuthor</key>
	<string>Chase Nordengren</string>
	<key>IATemplateAuthorURL</key>
	<string>https://semicolons.net</string>
</dict>
</plist>
